# Task no: 1
# Movie Rating Prediction With Python
### 1. Build a model that predicts the rating of a movie based on features like genre, director, and actors. You can use regression techniques to tackle this problem.
### 2. The goal is to analyze historical movie data and develop a model that accurately estimates the rating given to a movie by users or critics.
### 3. Movie Rating Prediction project enables you to explore data analysis, preprocessing, feature engineering, and machine learning modeling techniques. It provides insights into the factors that influence movie ratings and allows you to build a model that can estimate the ratings of movies accurately.

In [12]:
import numpy as np
import pandas as pd
import os

* Loading DataSet and Preview.

In [15]:
path = os.path.abspath("IMDb_Movies_India.csv")
data = pd.read_csv(path, encoding="ISO-8859-1")
df = pd.DataFrame(data)
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

* Findout the dimension and shape of Dataset

In [30]:
print("Shape of Dataset: ",df.shape)
print("No. of rows: ",df.shape[0])
print("No. of columns: ",df.shape[1])

Shape of Dataset:  (15509, 10)
No. of rows:  15509
No. of columns:  10

* Checking how much null values our dataset contain

In [27]:
null_dataset = {"Column":[],"Null_Values":[]}
for i in df.columns:
    null_dataset['Column'].append(i)
    null_dataset['Null_Values'].append(df[i].isnull().sum())

In [28]:
null_dataset = pd.DataFrame(null_dataset)
null_dataset

     Column  Null_Values
0      Name            0
1      Year          528
2  Duration         8269
3     Genre         1877
4    Rating         7590
5     Votes         7589
6  Director          525
7   Actor 1         1617
8   Actor 2         2384
9   Actor 3         3144

In [35]:
null_dataset['Null_values_percentage'] = round((null_dataset['Null_Values']/df.shape[0])*100,2)

In [36]:
null_dataset

     Column  Null_Values  Null_values_percentage
0      Name            0                    0.00
1      Year          528                    3.40
2  Duration         8269                   53.32
3     Genre         1877                   12.10
4    Rating         7590                   48.94
5     Votes         7589                   48.93
6  Director          525                    3.39
7   Actor 1         1617                   10.43
8   Actor 2         2384                   15.37
9   Actor 3         3144                   20.27

In [45]:
cols = [null_dataset[null_dataset.Null_values_percentage < 21]["Column"]]
print(cols)
df.dropna(subset=cols)

[0        Name
1        Year
3       Genre
6    Director
7     Actor 1
8     Actor 2
9     Actor 3
Name: Column, dtype: object]

C:\Users\HP\AppData\Local\Temp\ipykernel_5456\33321337.py:3: DeprecationWarning: Series._data is deprecated and will be removed in a future version. Use public APIs instead.
  df.dropna(subset=cols)

IndexError: boolean index did not match indexed array along dimension 0; dimension is 1 but corresponding boolean dimension is 7